.header {
  padding: 0 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  width: 320px;
  display: flex;
  align-items: center;
}
.header__img {
  width: 38px;
  height: 38px;
}
.header__content {
  margin-left: 15px;
}
.header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #181818;
}
.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #7b7b7b;
}
.header__drawer {
  width: 150px;
  height: 50px;
  background: #fe5f1e;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}