@import "./nullstyle.scss";

.App {
  font-size: 77px;
  color: aqua;
}

body {
  background-color: rgb(226, 200, 85);
}
.wrapper {
  width: 1340px;
  margin: 40px auto;
  background-color: rgb(255, 255, 255);
  padding: 50px;
}
.main {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.main__menu {
  &_title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 30px;
  }

  &_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}

/*
.sort {
  position: relative;

  &__title {
    padding: 10px 20px;
    font-size: 22px;
    background-color: rgb(177, 164, 164);
    border-radius: 5px;

    span {
      display: inline-block;
      width: 150px;
      text-align: center;
      color: red;
      background-color: #fff;
    }
  }

  &__list {
    position: absolute;
    width: 150px;
    left: 95px;
    background-color: rgb(241, 182, 182);
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;

    li {
      padding: 5px 5px;
      border-radius: 5px;
    }

    li:hover {
      background-color: rgb(138, 226, 75);
      padding-left: 40px;
    }
  }
}
*/
