.header {
  padding: 0 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    width: 320px;
    display: flex;
    align-items: center;
  }

  &__img {
    width: 38px;
    height: 38px;
  }
  &__content {
    margin-left: 15px;
  }
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #181818;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #7b7b7b;
  }

  .search {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
    border: 2px solid #181818;
    border-radius: 5px;
    padding: 5px;

    &__input {
      flex-grow: 1;
    }
    img {
      width: 20px;
      height: 20px;
    }
    .close__icon:hover {
      cursor: pointer;
    }
    .display__none {
      display: none;
    }
  }

  &__drawer {
    width: 150px;
    height: 50px;
    background: #fe5f1e;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
  }
}
